/* 左边菜单区域样式开始 */
.container{
    font-family: 微软雅黑;
    background:#fff;
    padding:30px;
    margin:50px auto;
    overflow: hidden;
}
.container .menu{
    width:240px;
    margin-left: 130px;
    float: left;
    border-right: 1px solid #aaaaaa;
}

.positionIcon{
    display: block;
    width:32px;
    height:32px;
    margin:0px 4px;
    float: left;
    margin-right: 10px;
}
.q-menu-one{
    background: url("../img/iconfont-kuaisulu.png");
}

.q-menu-two{
    background: url("../img/iconfont-0bangzhushouce.png");
}

.q-menu-three{
    background: url("../img/iconfont-wenti.png");
}

.container .menu h3{
    height: 32px;
    font-size: 20px;
    line-height: 32px;
    cursor: pointer;
}
.container .menu ul{
    padding-left:40px;
}
.container .menu ul li{
    height:28px;
    line-height: 28px;
}
.container .menu ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    display: block;
    width: 180px;
    height: 26px;
    padding-left: 10px;
}
.container .menu ul li a:hover{
    background:#9fb6cd;
    border-radius: 14px;
    color:#fff;
}
.container .menu .selected{
    background-color: #ccc;
    border-radius: 14px;
}
/* 左边菜单样式编写结束 */

/* 右边content内容区域编写开始 */
    .container .content{
        margin-top: 15px;
        width:860px;
        margin-left: 400px;
    }
    .container .content .get-menu{
        margin-left: -10px;
        line-height: 40px;

    }
    .container .content .get-menu a{
        display:inline-block;
        font-size: 15px;
        height:40px;
        text-decoration: none;
        color: #000;
    }
    .container .content .get-menu a:last-child{
        display:inline-block;
        color: #7d9ec0;
        margin-left: -8px;
    }
    .container .content .get-menu span{
        display: inline-block;
        height: 40px;
        margin-left: 15px;
        margin-right: 10px;
    }
    .container .content .menu1 .tab{
        display: none;
    }
    .container .content .menu1 .active{
        display: block;
    }
    .container .content .menu2 .tab{
        display: none;
    }
    .container .content .menu2 .active{
        display: block;
    }
    .container .content .menu3 .tab{
        display: none;
    }
    .container .content .menu3 .active{
        display: block;
    }
/* 右边content内容区域编写结束 */